table		{
		border:			none;
		margin:			0;
		padding:		0;
		width:			100%;
		height:			100%;
		}
#Tron		{
		display:		none;
		}
#ProgressCol	{
		display:		none;
		text-align:		right;
		}
#DebugCol	{
		height:			50px;
		}
#debug		{
		color:			#9ec9e2;
		font-weight:		bold;
		}

