<html>

<head>
	<title>biographer</title>
	<style>
		body			{
					background-color:	white;
					color:			#9ec9e2;
					}
		#canvas			{
					top:			60px;
					bottom:			0;
					color:			#9ec9e2;
					}
	</style>

	<script src="{{ = URL(request.application, 'static/tools', 'tools.js') }}"></script>
	<script src="{{ = URL(request.application, 'static/tools', 'httplib.js') }}"></script>
	<script src="{{ = URL(request.application, 'static/tools', 'templates.js') }}"></script>

	<script type="text/javascript" src="{{ = URL(r=request, c='static', f='bui') }}/js/jquery-1.6.min.js"></script>
	<script type="text/javascript" src="{{ = URL(r=request, c='static', f='bui') }}/js/jquery.simulate.js"></script>
	<script type="text/javascript" src="{{ = URL(r=request, c='static', f='bui') }}/js/jquery-ui-1.8.12.custom.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ = URL(r=request, c='static', f='bui') }}/css/jquery-ui-1.8.13.css" />

	<script type="text/javascript" src="{{ = URL(request.application, 'static/bui/js', 'biographer-ui.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ = URL(request.application, 'static/bui/css', 'visualization-html.css') }}"/>

	<script src="{{ = URL(request.application, 'static/simulator', 'simulator.js') }}"></script>
</head>

<body>
	<script>
		env = {}
		env["biographer"] = "/{{ = request.application }}";
		env["tools"] = "{{ = URL(request.application, 'static', 'tools') }}";
		env["templates"] = "{{ = URL(request.application, 'static', 'controls') }}";
		env["images"] = "{{ = URL(request.application, 'static', 'img') }}";

		ControlsWindow = Template.popup('Controls', 'width=220px,height=360px', env["templates"]+'/controls.html', env);

		network = { 'nodes':[], 'edges':[] };

		// settings
		green = '#10d010';
		red = '#d01010';
		yellow = '#f4fd01';
		black = '#000000';
		blue = '#7474cf';
		active = green;
		inactive = '#ffffff';
		cyclic_attraktor = '#f9f883';

		// input, provided by the server
		BooleanNetwork = '';
		Nodes = [];
		update_rules = {};

		// initialize, prepare for simulation
	//	initialize();


		window.onunload = function() {
					ControlsWindow.close();
//					confirm('Really close and loose unsaved data ?');
					}

	</script>
</body>

</html>
