{{extend 'content.html'}}

<style>
	.network		{
				border:			none;
				width:			100%;
				height:			94%;
				overflow:		scroll;
				}
</style>

<script id=simulator src="../static/simulator/simulator.js"></script>

<script>
	// settings
	green = '#10d010';
	red = '#d01010';
	yellow = '#f4fd01';
	black = '#000000';
	blue = '#7474cf';
	active = green;
	inactive = '#ffffff';
	cyclic_attraktor = '#f9f883';

	// input, provided by the server
	BooleanNetwork = '{{try:}}{{ = XML(session.bioGraph.BooleanNetwork.replace('\n', '\\n\'\n+\'')) }}{{except:}}{{pass}}';
	Nodes = [ {{=XML(Nodes)}} ];
	update_rules = { {{=XML(updateRules)}} };

	// initialize, prepare for simulation
	initialize();
	openControlsWindow();
</script>

<style>
	#biographertab	{
			display:	none;
			}
</style>

<script type="text/javascript" src="{{ = URL(r=request, c='static', f='bui') }}/js/jquery-1.6.min.js"></script>
<script type="text/javascript" src="{{ = URL(r=request, c='static', f='bui') }}/js/jquery.simulate.js"></script>
<script type="text/javascript" src="{{ = URL(r=request, c='static', f='bui') }}/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ = URL(r=request, c='static', f='bui') }}/css/jquery-ui-1.8.13.css" />

<script type="text/javascript" src="{{ = URL(r=request, c='static', f='bui') }}/js/biographer-ui.js"></script>
<link rel="stylesheet" type="text/css" href="{{ = URL(r=request, c='static', f='bui') }}/css/visualization-html.css" />
<link rel="stylesheet" type="text/css" href="{{ = URL(r=request, c='static', f='bui') }}/css/visualization-svg.css" />

<script>
	network = {{ = XML(session.bioGraph.exportJSON()) }};

	bui.ready(function() {
		graph = new bui.Graph( document.getElementById('biographertab') );
	    	bui.importFromJSON(graph, network);
		});
</script>

